@import "tailwindcss";

/* Editor typography */
.prose {
  font-family: "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.7;
  color: #111827;
}

.prose p {
  margin-bottom: 1rem;
}

.prose h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.prose h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.prose ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.prose ol {
  padding-left: 1.5rem;
  list-style-type: decimal;
}